---
import cotizacion from "../images/cotizacion/cotizacion.webp";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización corporativo.</title>
    <meta property="og:image" content="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/og-image-monrold.webp" />
</head>
<body>
    <section>
        <img class="w-full h-full" src={cotizacion.src} alt="Cotizacion general">
    </section>
</body>
</html>