---
import manual from "../images/cotizacion/manual.png";
import rrs from "../images/cotizacion/rrs.png";
import seguridad from "../images/cotizacion/seguridad.png";
import limpieza from "../images/cotizacion/limpieza.png";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización corporativo.</title>
    <meta property="og:image" content="https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/og-image-monrold.webp" />
</head>
<body>
    <section>
        <img src={manual.src} alt="Cotización manual de identidad seguridad">
        <img src={rrs.src} alt="Cotización redes sociales seguridad">
        <img src={seguridad.src} alt="Cotización web de seguridad">
        <img src={limpieza.src} alt="Cotizaci€on web de limpieza">
    </section>
</body>
</html>