---




let people = [
	{
		name: "Luis",
		lastname: "Montaño"
	},
	{
		name: "Susana",
		lastname: "Sanchez"
	},
	{
		name: "Rebeca",
		lastname: "Montaño Sanchez"
	}
];

let pares = [2,4,6,8,10];
---
<style>

	.cube{
  width: 100vw;
  height: 20vh;
  background: black;
  position: sticky;
  top: 0;
}

.cubeTwo{
  margin-top: 25vh;
  width: 100vw;
  height: 20vh;
  background: orange;
  position: sticky;
  top: 0;
  }

.cubethree{
  width: 5em;
  height: 5em;
  background: blue;
  position: fixed;
}
.wrapper{
	position: relative;
}
</style>

<!doctype html>
<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<main class="h-screen bg-slate-300">	
			
			<div class="h-full flex flex-col justify-center items-center relative">
				<div>
				</div>
				<h1 id="text" class="text-4xl">¿Cuántos años tienes?</h1>
				<div>
					{people.map((data) => {
					  return (
						<li style="list-style-type: none">{data.name} {data.lastname}</li>
					  );
					})}
				  </div>
				  <div>
					{
						pares.map((impares) => {
							return (
								<p>{impares-1}</p>
							);
						})
					}
				  </div>
				<form class="mt-2 flex" action="" id="miFormulario">
					<input class="p-2 rounded-l-xl" id="edad" type="text" />
					<input class="bg-slate-400 px-2 py-2  rounded-r-xl text-white hover:cursor-pointer hover:bg-slate-600 transition duration-300 ease-out"
					value="Calcular" type="button" id="submitBtn"/>
				</form>
				<div id="customAlert" class="hidden bg-red-500 text-white p-2 rounded-md mt-4">
					Ingresa una edad válida.
				</div>
			</div>
			<div class="bg-slate-200 h-screen wrapper">
				<div class="cube">
				</div>
				<div class="cubeTwo">
				</div>
				<div class="cubethree">
				</div>
			</div>
			<div class="h-screen"></div>

		</main>
		<script src="../scripts/adult.js"></script>
		<script src="../scripts/map.js"></script>
	</body>
</html>

