---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import LogicFilterBtns from '../components/logic-btns-filter-projects.tsx';

const allPosts = await getCollection("proyectos");
const ux = await getCollection("proyectos", ({ data }) => {
    return data.categoria.ux;
});
const branding = await getCollection("proyectos", ({ data }) => {
    return data.categoria.branding;
});

const marketing = await getCollection("proyectos", ({ data }) => {
    return data.categoria.marketing;
});
---

<Layout title="Conoce todos mi proyectos">
    <section class="max-w-screen-xl mx-auto">
        <h1 class="text-gray-400 text-center text-4xl py-6">
            Conoce todos mis proyectos
        </h1>
        <LogicFilterBtns allPosts={allPosts} ux={ux} branding={branding} marketing={marketing}  client:visible/>
    </section>
</Layout>

<style>
    .project:hover .o,
		.project:hover .title {
			outline-color: #3f7ad9;
			color: rgb(156, 163, 175);
		}
</style>
