---
const tags = ["astro","ux"];
---

<div class="flex justify-center items-center">
    {
        tags.map((tag)=>{
            return (
                <li class=""><a class="bg-white" href={`/tags/${tag}`}>{tag}</a></li>);
        })
    }
</div>