---
import icon from "/public/favicon.svg";
---

<!--desktop -->
<nav id="navDesktop" class="bg-[#12101e] sticky z-50 top-0 hidden md:block">
    <div class="flex justify-around space-x-4 py-5">
        <div>
            <a
                class="flex relative items-center hover:opacity-80 hover:transition-opacity hover:delay-100"
                href="/"
            >
                <img
                    class="w-6 hover:w-7 hover:transition-all hover:delay-150 absolute inset-0 my-auto"
                    src={icon.src}
                    alt="Logotipo Monrold morado"
                />
                <p class="text-gray-100 pl-8 monrold">Monrold</p>
            </a>
        </div>
        <ul class="flex items-center space-x-12 text-gray-100">
            <li><a class="hover:opacity-80" href="/proyectos">Proyectos</a></li>
            <li class="hidden"><a class="hover:opacity-80" href="">Blog</a></li>
            <li><a class="hover:opacity-80" href="">Agendas digitales</a></li>
            <li><button class="text-gray-400 z-10 md:w-auto w-full">
                <a
                    class="flex space-x-1 bg-gradient-to-r from-[#6B5EE7] to-[#6B5EE7] rounded-md px-4 py-2 text-gray-100 hover:ring-1 hover:ring-[#3FAAD9]"
                    href="https://wa.link/62c89k"
                >
                    <svg
                        class="w-4 fill-gray-100"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                        ></path></svg
                    >
                    <p>Contáctame</p></a
                >
            </button></li>
        </ul>
    </div>
    <script>
        let nav = document.getElementById("navDesktop");

        const scroll = () => {
            const y = window.pageYOffset || document.documentElement.scrollTop;

            const px = 10;

            if (nav) {
                if (y > px) {
                    nav.classList.add("scrollDesktop");
                } else {
                    nav.classList.remove("scrollDesktop");
                }
            }
        };

        window.addEventListener("scroll", scroll);
    </script>
</nav>
<style>
    nav {
        font-family: "Rubik", 900;
    }
    .scrollDesktop {
        background-color: rgb(19, 21, 26, 0.5);
        backdrop-filter: blur(8px);
        transition: all 200ms ease-in-out;
        border-bottom: solid 1px rgb(107 114 128);
    }
</style>

<!--mobile -->
<nav id="navMobile" class="bg-[#12101e] sticky z-50 top-0 md:hidden">
    <div class="flex relative justify-between mx-4 space-x-4 py-5">
        <a
            class="flex relative items-center hover:opacity-80 hover:transition-opacity hover:delay-100"
            href="/"
        >
            <img
                class="w-6 hover:w-7 hover:transition-all hover:delay-150 absolute inset-0 my-auto"
                src={icon.src}
                alt="Logotipo Monrold morado"
            />
            <p class="text-gray-100 pl-8">Monrold</p>
        </a>
        <button id="btn" class="hover:opacity-80">
            <svg
                class="fill-gray-100 w-4"
                id="burger"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                ><path
                    d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                ></path></svg
            >
            <svg
                class="fill-gray-100 w-4"
                id="close"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512"
                ><path
                    d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
                ></path></svg
            >
        </button>
        <script>
            const burgerIcon = document.getElementById("burger") as HTMLElement;
            const closeIcon = document.getElementById("close") as HTMLElement;
            const content = document.getElementById("content") as HTMLElement;
            const btn = document.getElementById("btn") as HTMLButtonElement;

            closeIcon.style.display = "none";

            const dropdown = () => {
                if (content.classList.contains("show")) {
                    closeIcon.style.display = "none";
                    burgerIcon.style.display = "block";
                    content.classList.remove("show");
                } else {
                    closeIcon.style.display = "block";
                    burgerIcon.style.display = "none";
                    content.classList.add("show");
                }
            };

            btn.addEventListener("click", dropdown);
        </script>
    </div>
    <ul id="content" class="space-y-4 text-xl text-gray-100 px-4 w-full">
        <li class="border-gray-500 border-b py-4">
            <a class="hover:opacity-80" href="/proyectos">Proyectos</a>
        </li>
        <li class="border-gray-500 border-b py-4 hidden">
            <a class="hover:opacity-80" href="">Blog</a>
        </li>
        <li class="border-gray-500 border-b pt-4 pb-6">
            <a class="hover:opacity-80" href="">Agendas digitales</a>
        </li>
        <li class="pt-4 pb-6">
            <button class="text-gray-400 z-10 md:w-auto w-full">
                <a
                    class="flex space-x-2 bg-gradient-to-r from-[#6B5EE7] to-[#6B5EE7] rounded-md px-4 py-2 text-gray-100 hover:ring-1 hover:ring-[#3FAAD9]"
                    href="https://wa.link/62c89k"
                >
                    <svg
                        class="w-4 fill-gray-100"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                    >
                        <path
                            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                        ></path></svg
                    >
                    <p>Contáctame</p></a
                >
            </button>
        </li>
    </ul>
    <script>
        let nav = document.getElementById("navMobile");

        const scroll = () => {
            const y = window.pageYOffset || document.documentElement.scrollTop;

            const px = 20;

            if (nav) {
                if (y > px) {
                    nav.classList.add("scrollMobile");
                } else {
                    nav.classList.remove("scrollMobile");
                }
            }
        };

        window.addEventListener("scroll", scroll);
    </script>
</nav>
<style>
    .scrollMobile {
        background-color: rgb(19, 21, 26, 0.5);
        backdrop-filter: blur(8px);
        transition: all 200ms ease-in-out;
        border-bottom: solid 1px rgb(107 114 128);
    }
    #content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            max-height 0.2s ease-out,
            opacity 0.2s ease-out;
    }

    #content.show {
        max-height: 250px; /* Ajusta este valor según sea necesario */
        opacity: 1;
    }
</style>
