---
import rompehielo from "../../images/itzelydanao/fondo-2.jpg";
---

<section class="relative h-auto overflow-hidden block md:hidden">
    <!-- Fondo -->

    <img
        src={rompehielo.src}
        alt="Rompehielo"
        class="absolute inset-0 w-full h-full object-cover"
    />

    <!-- Overlay -->

    <div
        class="absolute inset-0
        bg-gradient-to-b
        from-[#441015]/30
        via-[#441015]/45
        to-[#441015]/80"
    >
    </div>

    <!-- Contenido -->

    <div
        class="relative
        z-10
        h-full
        flex
        items-center
        justify-center
        px-6
        py-8"
    >
        <div class="max-w-sm w-full text-center">
            <!-- Icono -->

            <div class="text-5xl mb-3">🥂</div>

            <p
                class="uppercase
                tracking-[.30em]
                text-[#E7D7C8]
                text-[11px]"
            >
                UN DÍA ANTES
            </p>

            <h2
                class="font-title
                italic
                text-[2.9rem]
                leading-none
                text-white
                mt-3"
            >
                Rompehielo
            </h2>

            <div class="w-16 h-px bg-[#C39583] mx-auto my-5"></div>

            <p
                class="text-white/90
                leading-relaxed
                text-[15px]
                px-2"
            >
                Acompáñanos a comenzar este fin de semana tan especial
                compartiendo un momento entre familia y amigos.
            </p>

            <!-- Card -->

            <div
                class="mt-7
                rounded-[24px]
                bg-white/10
                backdrop-blur-md
                border
                border-white/15
                p-5
                text-left
                space-y-5"
            >
                <!-- Punto de reunión -->

                <div>
                    <p
                        class="uppercase
                        text-[10px]
                        tracking-[.25em]
                        text-[#C39583]"
                    >
                        Punto de reunión
                    </p>

                    <p
                        class="text-white
                        text-[15px]
                        leading-relaxed
                        mt-2"
                    >
                        Atrio de la Parroquia de Santa María Magdalena, donde
                        caminaremos juntos a travez del pueblo.
                    </p>

                    <a
                        href="https://maps.app.goo.gl/6M9aVb5PNpCRbBZNA"
                        target="_blank"
                        class="inline-flex
                        items-center
                        gap-2
                        mt-4
                        px-5
                        py-3
                        rounded-full
                        bg-[#441015]
                        text-white
                        text-[11px]
                        uppercase
                        tracking-[.15em]
                        transition-all
                        duration-300
                        hover:bg-[#320B0F]"
                    >
                        📍 Ir desde Google Maps
                    </a>
                </div>

                <!-- Horario -->

                <div>
                    <p
                        class="uppercase
        text-[10px]
        tracking-[.25em]
        text-[#C39583]"
                    >
                        Horario
                    </p>

                    <p
                        class="text-white
        text-[15px]
        leading-relaxed
        mt-2"
                    >
                        5:00 PM
                    </p>
                </div>
                <!-- Recorrido -->

                <div>
                    <p
                        class="uppercase
                        text-[10px]
                        tracking-[.25em]
                        text-[#C39583]"
                    >
                        Recorrido
                    </p>

                    <p
                        class="text-white
                        text-[15px]
                        leading-relaxed
                        mt-2"
                    >
                        Partiremos todos juntos caminando hasta la plazoleta del
                        pueblo, donde finalizará el recorrido.
                    </p>
                </div>

                <!-- Dress Code -->

                <div>
                    <p
                        class="uppercase
                        text-[10px]
                        tracking-[.25em]
                        text-[#C39583]"
                    >
                        Dress Code
                    </p>

                    <p
                        class="text-white
                        text-[15px]
                        leading-relaxed
                        mt-2"
                    >
                        🤍 Vestimenta blanca, cómoda e informal.
                    </p>
                </div>
            </div>
            <!-- Sugerencia de regalo -->

            <div class="mt-10">
                <p
                    class="uppercase
        text-[14px]
        tracking-[.25em]
        text-[#ffffff]
        text-center"
                >
                    🎁 Sugerencia de regalo
                </p>

                <div
                    class="mt-3
        rounded-2xl
        bg-gradient-to-br
        from-[#441015]/95
        to-[#5B1A24]/95
        border
        border-[#C39583]/30
        shadow-xl
        p-6
        text-center"
                >
                    <div class="text-4xl mb-3">💳</div>

                    <h3
                        class="text-white
            text-xl
            font-semibold"
                    >
                        Depósito a cuenta
                    </h3>

                    <div
                        class="mt-5
            space-y-4
            text-[15px]
            leading-relaxed"
                    >
                        <div>
                            <p
                                class="text-[#C39583] uppercase tracking-[.15em] text-[11px]"
                            >
                                Banco
                            </p>

                            <p class="text-white font-medium">BBVA</p>
                        </div>

                        <div>
                            <p
                                class="text-[#C39583] uppercase tracking-[.15em] text-[11px]"
                            >
                                Titular
                            </p>

                            <p class="text-white font-medium">
                                Itzel Jiménez Obregón
                            </p>
                        </div>

                        <div>
                            <p
                                class="text-[#C39583] uppercase tracking-[.15em] text-[11px]"
                            >
                                CLABE
                            </p>

                            <p
                                class="text-white
                    font-semibold
                    tracking-[.15em]
                    text-base"
                            >
                                0121&nbsp;8001&nbsp;5416&nbsp;1897&nbsp;77
                            </p>
                        </div>

                        <div>
                            <p
                                class="text-[#C39583] uppercase tracking-[.15em] text-[11px]"
                            >
                                Tarjeta
                            </p>

                            <p
                                class="text-white
                    font-semibold
                    tracking-[.15em]
                    text-base"
                            >
                                4152&nbsp;3137&nbsp;7046&nbsp;8374
                            </p>
                        </div>

                        <div>
                            <p
                                class="text-[#C39583] uppercase tracking-[.15em] text-[11px]"
                            >
                                Cuenta
                            </p>

                            <p
                                class="text-white
                    font-semibold
                    tracking-[.15em]
                    text-base"
                            >
                                154&nbsp;161&nbsp;8977
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Solo adultos -->

            <div>
                <p
                    class="uppercase
        text-[14px]
        tracking-[.25em]
        text-[#C39583]
        mt-10"
                >
                    Aviso importante
                </p>

                <div
                    class="mt-2
        rounded-2xl
        bg-white/5
        border
        border-white/10
        p-4
        text-center"
                >
                    <div class="text-3xl mb-3">🥂</div>

                    <p
                        class="uppercase
            text-white
            font-semibold
            leading-snug"
                    >
                        Fiesta solo para adultos
                    </p>

                    <p
                        class="text-white/90
            mt-3
            text-[15px]
            leading-relaxed"
                    >
                        Adoramos a sus hijos, pero creemos que necesitan una
                        noche libre.
                        <br /><br />
                        <strong
                            >Gracias por acompañarnos en una celebración solo
                            para adultos.</strong
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
